/* #3897f0; */
.contain {
  text-align: center;
  padding:1em 5em 0em 5em;
}
.orBox{
  display: flex;
  justify-content: center;
  color: #efefef
  font-weight: bold;
}

.orBox::after {
    position: relative;
    content: "";
    height: 1px;
    background-color: darkgrey;
    width: 100%;
    margin-left: 10px;
    top: .45em;

    }
.orBox::before {
    position: relative;
    content: "";
    height: 1px;
    background-color: darkgrey;
    width: 100%;
    margin-right: 10px;
    top: .45em;
    }

.header{
  font-size: 300%;
  font-weight: bold;
  /* font-style: italic; */
  font-family: cursive;
}
button{
  background-color: #3897f0;
  color: white;
  border-radius: 5px;
  height: 2.5em;
}
.forms{
  /* display:flex; */
  height:250px;
  /* border: solid red 2px; */

}
form{
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}
input{
  width: 99%;
  height: 2.3em;
  align-items: space-around;
}
h4{
  color:gray;
}

.stuff {
  color: gray;
}
